body{
background-image: url(../img/minefundo.png);
color: white;
}

header{
    background-color: rgb(110, 195, 77);
    padding: 3%;
}

.logo{
    background-color: rgb(0, 183, 255);
}
.mines{
    width: 30%;
}

nav{
    background-color: rgb(81, 151, 212);
}

main{
    background-color: rgb(110, 195, 77);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: rgb(10, 10, 10)
}

footer{
    background-color: rgb(195, 130, 77);
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}
footer{
    background-image: url(../img/bloco.png);
}

.titulos{
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        line-height: 3;
        text-align: center;
        font-weight: bold;
}

p, li, table{
    font-family: "Noto Sans", system-ui;
    font-weight: 450;
    font-style: normal;
}

h2{
    color: #00b0db;
}
h3{
    color: #84888b;
}
.imgcentro{
    width: 40%;
    display: block;
    margin: 0px auto;
}
p{
    line-height: 1.5;
    font-size: 1.2em;
}
ul li{
    line-height: 1.5;
    font-size: 1.2em;
}h1 h2{
    font-size: 2em;
    line-height: 3;
}
table{
    border-collapse: collapse;
    width: 75%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding: auto;
}
td,th{
    border: 2.5px solid rgb(0, 0, 0);
    padding: auto;
    text-align: center;
}

.cinza{
    background-color: #9b704d;
}

.branco{
    background-color: #84888b;
}
.verde{
    background-color: #579b48;
}
td img{
    width: 15%;
    display: block;
    margin: 0px auto;
}
.imggaleria{
    width: 90%;
}
.linha{
    display: flex;
    flex-flow: row wrap;
}

.col-3{
    width: 25%;
}
.col-3 p{
    font-size: 1rem;
    text-align: center;
}