/* ESTRUTURA DO SITE */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 15%;
}

body{
    background-color: #0000;
    color: #ffffff;
    font-weight: bold;
    background-image: url(../img/minefundo.png);
    background-repeat: initial;
    background-position: center;
}
header{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20%;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: #313131;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
.logo{
    background-color: #313131;
    width: 100px;
}
.mines{
    width: 100px;
}
.minelogo{
    width: 200px;
}

nav{
    background-color: #313131;
}
.menu{
    margin-top: auto;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.navigation{
    display: flex;
}

main{
    width: 80%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto; 
    padding: 1%;
}
section{
    padding: 40px;
    background-color: rgb(0, 0, 0, 0.8);
}

footer{
    background-image: url(../img/bloco.png);
    padding: 1%;
}
.rodape{
    text-align: center;
}

/* FORMATAÇÃO */

.pagtitle{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-style: normal;
    font-size: 3rem;
    line-height: 3;
    font-weight: 3rem;
    -webkit-text-stroke: 1px black;
}
.titulos{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 3;
    font-weight: bold;
    -webkit-text-stroke: 0.01px black;
}
.titulog{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 3;
    font-weight: bold;
}
.tituloc{
    font-family: "Press Start 2P", system-ui;
    -webkit-text-stroke: 0.001px rgb(0, 65, 25);
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
}
.titulop{
    font-family: "Press Start 2P", system-ui;
    -webkit-text-stroke: 0.001px rgb(0, 65, 25);
    text-align: left;
    font-style: normal;
    font-weight: bold;
}
.end{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-style: normal;
    line-height: 3;
    font-weight: bold;
    color: #FF4500;
    -webkit-text-stroke: 0.001px #FF4500;
}

p, li, table{
    font-family: "Noto Sans", system-ui;
    font-weight: 450;
    font-style: normal;
}
.imgcentro{
    width: 40%;
    display: block;
    margin: 0px auto;
}

p{
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 3vh;
    min-height: 0.5vh;
    font-size: 1.25rem;
    text-align: center;
}
.jus{
    text-align: justify;
}
ul li{
    line-height: 1.5;
    font-size: 1.2em;
}
h1 h2{
    font-size: 2em;
    line-height: 3;
    min-height: 4rem;
}
table{
    border: collapse;
    width: 75%;
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 1%;
    padding: auto;
}
td,th{
    border: 2.5px solid rgb(0, 0, 0);
    padding: auto;
    text-align: center;
}

.mnt{
    text-align: left;
}

.esq{
    margin:auto;
}
.esqp{
    margin:auto;
    width: 5%;
    float: left;
}
.md{
    width: 99%;
}
td img{
    width: 15%;
    display: block;
    margin: 0px auto;
}
.imgsite{
    width: 90%;
    margin-right: auto;
}
.imggaleria{
    width: 85%;
}
.imggaleriad{
    width: 65%;
}
.float{
    float: left;
    width: 15%;
}
.imgcenter{
    width: 99%;
    display: block;
    margin: auto;
}

.texto_bandeira{
    position: absolute;
    left: 40%;
    top: 35%;
    bottom: 50%;
    width: 100%;
}

.siteofc{
    position: relative;
}

.backsofc{
    margin-left: 0 ;
    margin-right: 0;
    width: 99%;
    display: block;
}

.topleft{
    position: absolute;
    top: 30px;
    left: 30px;
}

.topright{
    position: absolute;
    bottom: 420px;
    right: 30px;
}

  .bottomleft {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.bottomright {
    position: absolute;
    bottom: 30px;
    right: 1px;
}

.mineofc{
    width: 20%;
}
.mojang{
    width: 99%;
}
.microsoft{
    width: 99%;
}
.xbox{
 width: 99%;
}
.nintendo{
    width: 50%;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #006CEF;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  /*LINKS*/


a:link {
    color: #2ccaaf;
    text-decoration: none;
  }
  
  a:visited {
    color: #f000ff;
    text-decoration: none;
  }
  
  a:hover {
    color: #8af1df;
    text-decoration: wavy;
  }

  /*MENU LINKS*/

  li a {
    display: inline-block;
    text-align: center;
    padding: 2%;
    font-size: 120%;
    color: #ffffff;
    text-decoration: none; /* Remover sublinhado padrão */
}

li a:hover {
    color: #D9C1B4; 
    text-decoration: underline;
}

li a:visited {
    color: #ffd83d;
    text-decoration: none;
}

/* CONTATO */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #b6b6b6;
    border: 3px solid #424242;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: 100%;
    background-color: #59cf3e;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #74cc00;
  }
  div .contato{
    border-radius: 5px;
    padding: 20px;
  }
/* ALGUMAS CORES*/

.marrom{
    background-color: #9b704d;
}

.cinza{
    background-color: #84888b;
}
.verde{
    background-color: #579b48;
}
.verdep{
    background-color: #00AA00;
}
.amarelo{
    color: #ffcb00;
}
.laranja{
    color: #e48e1d;
}
.azul{
    color: #00b0db;
}
.vermelho{
    color: #FF4500;
}
.azule{
    color: #494697;
}
.cardmarrom{
    background-color: #8F6448;
    border: #8F6448;
}
.vm{
    color: #0db50d;
}
.crismon{
    color: #3aec93;
}
.crismon1{
    color: #f80000;
}
.verdec{
    color: #59cf3e;
}
.roxom{
    color: #f000ff;
}
.roxin{
    color: #7833ae;}
.cardroxo{
    background-color: #6345BD;
    border: #6345BD;
}
.cardazul{
    background-color: #006CEF;
    border: #006CEF;
}
.cinzae{
    color: darkgrey;
}

/* MEDIA QUERIE E ENVOLVIDOS*/

.row{
    display: flex;
    flex-flow: row wrap;
}
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    margin-top: 35px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.col3{
    width: 25%;
}
.col3 p{
    text-align: justify;
}
.linha, .row  {
    display: flex;
    flex-flow: row wrap;
}
.col-2{
    width: 16,50%;
    text-align: center;
}
.col-3{
    width: 25%;
    text-align: center;
}
.col-4{
    width: 33%;
    text-align: center;
}
.col6{
    width: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color:#424242;
    border-radius: 5px;
}
.menu-icon {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}


@media screen and (max-width: 950px) {
    .card {
        width: calc(50% - 20px); /* 2 cards por linha em telas médias */
    }
    .col6{
        width: 100%;
    }
    .col3{
        width: calc(50% - 20px); /* 2 elementos por linha em telas médias */
    }
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(42, 42, 42,0.8);
        position: absolute;
        top: 85px;
        left: 0;
        z-index: 1;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }

    nav ul li label {
        /* width: 100%; */
        display: block;
    }
}


@media screen and (max-width: 660px) {
    .card {
        width: calc(80% - 20px); /* 1 card por linha em telas pequenas */
    }
    .col3{
    width: calc(80% - 20px); /* 1 elementos por linha em telas pequenas */
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
